.mainWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mainWrapper .top{
    flex: 5;
}

.mainWrapper .left{
    background-color: #fff;
    flex: 1.2;
    box-shadow: 10px rgb(49, 49, 49, 0.8);
}
